/* contact page */
.contact-body {
    background-color: rgb(234, 229, 223);
    margin-top: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    min-height: 94vh;
}

.contact-code {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background: RGB(245, 240, 234);
    border-radius: 20px;
    padding: 40px 20px;
}
