.carousel-card {
    position: relative;
    /* width: 220px; */
    height: 320px;
    background: mediumturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.carousel-card::before,
.carousel-card::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
    transition: all 0.5s;
}

.carousel-card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.carousel-card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
}

.carousel-card:hover::before,
.carousel-card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.carousel-card:hover:after {
    content: attr(info);
}